.container {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #1F6354;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}