.container {
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  flex: 1;
  margin-bottom: 10;
}

.iconContainer {
  background-color: #e8f3ee;
  color: #2d6a4f;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texts {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  color: #888;
}

.number {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}