.container {
    display: flex;
}

.menu {
    flex: 1;
    max-width: 250px;
    min-height: 100vh;
    background-color: #E1F5F1;
    padding: 20px 10px;
}

.content {
    flex: 4;
    padding: 5px;
}

.wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cardsRow {
  display: flex;
  gap: 20px;
  width: 100%;
}

.bottomSection {
    width: 100%; /* This forces the chart to stretch the full width */
}