.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(79, 164, 132, 0.5)), 
                url('/DJIHS_background.png') no-repeat center center/cover;
}

.top_logo {
    width: 150px;          
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;        
    margin-bottom: 10px;
}

.login_header h2 {
    font-weight: 600;
    color: yellow;
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px; 
    padding: 0;
}

.login_title {
    font-size: 26px;
    text-align: center;
    color: #1F6354;
    margin: 0 !important; 
    padding: 0;
    margin-bottom: 10px; 
}

.form {
    width: 420px;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input_box {
    position: relative; 
    width: 100%;
    height: 50px;
    margin: 5px 0;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #1F6354;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 45px 0 20px; 
    color: #1F6354;
    box-sizing: border-box; 
}

.Icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #1F6354;
    pointer-events: none;
}

.form input::placeholder {
    color: #1F6354;
}

.form button {
    width: 100%;
    height: 45px;
    background: #E1F5F1;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #4FA484;
    font-weight: 700;
    transition: 0.3s;
}

.form button:hover {
    background: #1F6354;
    color: white;
}
